@font-face {
    font-family: "Aliens";
    src: url(Alienscows-Regular.ttf) format("truetype");
}


body{
	background-color: grey;
	background-image: url("img/vignette_bottom_small.png"),url("img/pic6.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: "Aliens";
	background-blend-mode: multiply;
}


a:hover{
    	text-decoration: none;
	background-color: grey;
	opacity: 0.5;
}

.soc-media-box a{
	padding: 40px;
}

.jumbotronic{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	background: none;
	color: blue;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: white;
    text-align: center;
}

/* Twitter */
.fa-twitter {
    color: white;
    text-align: center;
}

/* Soundcloud */
.fa-soundcloud{
	color: white;
    	text-align: center;
}

/* Snapchat */
.fa-snapchat-ghost{
	color: white;
    	text-align: center;
	
}

.fa-instagram{
	color: white;
    	text-align: center;
}

.fa-spotify{
	color: white;
    	text-align: center;
}

.fa-music{
	color: white;
}
