body{
	background-color: grey;
	background-image: url("img/vignette_bottom_small.png"), url("vignette_top_small.png"),url("img/pic6.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: "Roboto";
	background-blend-mode: multiply;
  	filter: grayscale(1);	    
}

a:hover{
    	text-decoration: none;
	background-color: #00FFFF;
}

.jumbotronic{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: none;
}
